<h1 class="py-2 text-black">{{location}} Weather Forecast</h1>

<p class="lead">This component demonstrates fetching data from the ServerApp, forecast spanning 5 days from today.</p>

<p *ngIf="!results$"><em>Loading...</em></p>

<div class="row" *ngIf="results$">
  <div class="col card-deck mt-5">
    <div class="track card shadow-sm" style="width: 18rem;" *ngFor="let data of results$ | async"
      (click)="onSelect(data)" [class.selected]="data === selectedDay">
      <img class="card-img-top px-2 w-75 mx-auto" [src]="getIcon(data?.weather_state_abbr)" alt="Weather State Icon">
      <div class="card-body text-center">
        <p class="card-text text-truncate"><b>{{data?.weather_state_name}}</b></p>
        <p class="card-text text-truncate"><b>{{data?.applicable_date | date:'d MMMM y'}}</b></p>
      </div>
    </div>
  </div>
  <div class="col-4 card" *ngIf="selectedDay">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <p class="lead">{{selectedDay?.applicable_date | date:'EEEE, d MMMM, y'}}</p>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Max. Temperature
        <span class="badge badge-primary badge-pill">{{selectedDay?.max_temp | number: '1.0-1'}}°</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Min. Temperature
        <span class="badge badge-primary badge-pill">{{selectedDay?.min_temp| number: '1.0-1'}}°</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Humidity
        <span class="badge badge-primary badge-pill">{{selectedDay?.humidity | percent: '1.0-1'}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Wind Speed
        <span class="badge badge-primary badge-pill">{{selectedDay?.wind_speed | number: '1.0-1'}} km/h</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Wind Direction
        <span class="badge badge-primary badge-pill">{{selectedDay?.wind_direction_compass}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Air Presssure
        <span class="badge badge-primary badge-pill">{{selectedDay?.air_pressure}} hPa</span>
      </li>
    </ul>
    <div class="card-body text-center px-0">
      <a href="javascript:void(0)" (click)="closeDetail()">Close Details</a>
    </div>
  </div>
</div>
